<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
        <!-- Bulma CSS 링크 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="static/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
        <script src="static/index.js"></script>
        <title>KOREAN TRAVEL : GADA</title>
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>



    <style>
        /** {
            font-family: 'Gowun Dodum', sans-serif;
        }
*/
        * {
            font-family: 'Jua', sans-serif;
        }

        .card {
            box-shadow: 3px 3px 8px 0px grey;
            transition: 0.5s;
        }

        .card:hover {
            box-shadow: 3px 3px 8px 0px black;
        }

        .card-img-top {
            height: 170px;
            object-fit: cover;
        }

        .mytitle {
            width: 100%;
            height: 400px;

            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://wishbeen-seoul.s3.ap-northeast-2.amazonaws.com/plan/1463029230608__%EC%8A%AC%EB%A1%9C%EB%B2%A0%EB%8B%88%EC%95%8403.jpg');
            background-position: center;
            background-size: cover;

            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .mytitle > button {
            width: 200px;
            height: 50px;

            background-color: transparent;
            color: white;

            border-radius: 50px;
            border: 1px solid white;

            margin-top: 10px;
        }

        .mytitle > button:hover {
            border: 2px solid white;
        }

        .mycomment {
            color: gray;
        }

        .mycards {
            /*margin: 20px auto 0px auto;

            max-width: 1200px;*/
            width: 95%;
            max-width: 1100px;
            margin: 20px auto 0px auto;
        }

        /*.card {
            box-shadow: 5px 5px 3px 3px grey;
        }*/

       /* .section {
            width: 600px;
            max-width: 100%;
            margin: auto;
        }*/

        .banner {
            cursor: pointer;
        }

        .mypost {
            width: 95%;
            max-width: 500px;
            margin: 20px auto 0px auto;
            padding: 20px;
            box-shadow: 0px 0px 3px 0px gray;

            display: none;
        }

        .mybtns {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            margin-top: 20px;
        }

        .mybtns > button {
            margin-right: 10px;
        }

        /* style.css */

        /* 이미지 관련 스타일 조정 */
        .button {
            display: flex;
            justify-content: center;
        }

        label {
            cursor: pointer;
            font-size: 1em;
        }

        /* 못생긴 기존 input 숨기기 */
        #chooseFile {
            visibility: hidden;
        }

        .bi-heart {
            font-size: 25px;
            line-height: 25px;
            color: crimson;
        }

        .bi-heart-fill {
            font-size: 25px;
            line-height: 25px;
            color: crimson;
        }
    </style>
    <script>
        $(window).bind("pageshow",function (event){
            if( event.originalEvent.persisted || (window.performance && window.performance.navigation.type == 2)){
                console.log("BFCahe로부터 복원됨");
                location.reload();
            } else{
                console.log("새로열린 페이지")
            }
        })


        //위향훈님
        $(document).ready(function () {
            // show_list()
        });

        /*function show_list() {
            $.ajax({
                type: 'GET',
                url: '/submit',
                data: {},
                success: function (response) {
                    let rows = response['orders']
                    for (let i = 0; i < rows.length; i++) {
                        let title = rows[i]['title']
                        let imgUrl = rows[i]['img']
                        let comment = rows[i]['comment']
                        let star_num = rows[i]['star']
                        let desc = rows[i]['desc']
                        let time = rows[i]['time']

                        let star = '⭐'.repeat(star_num)

                        let temp_html = `<div class="col">
                                            <div class="card h-100">
                                                <img src="${imgUrl}" class="card-img-top">
                                                <div class="card-body">
                                                    <h5 class="card-title">${title}</h5>
                                                    <p class="card-text">${desc}</p>
                                                    <p>${star}</p>
                                                    <p class="mycomment">${comment}</p>
                                                    <p class="mycomment">${time}</p>
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div>
                                        </div>
                                        `
                        $('#cards-box').append(temp_html)
                    }
                }
            });
        }*/


        function posting() {

            let url = $('#url').val()
            let star = $('#star').val()
            let comment = $('#comment').val()

            $.ajax({
                type: 'POST',
                url: '/travel',
                data: {url_give: url, star_give: star, comment_give: comment},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }

        function open_box() {
            $('#post-box').show()
        }

        function close_box() {
            $('#post-box').hide()
        }



        function uploadImgPreview() {
            // @breif 업로드 파일 읽기
            let fileInfo = document.getElementById("upImgFile").files[0];

            let reader = new FileReader();
            // @details readAsDataURL( )을 통해 파일을 읽어 들일때 onload가 실행
            reader.onload = function () {
                // @details 파일의 URL을 Base64 형태로 가져온다.
                // document.getElementById("thumbnailImg").style.background = `url(${reader.result})center/cover`;
                document.getElementById("thumbnailImg").src = reader.result
            };
            // @details readAsDataURL( )을 통해 파일의 URL을 읽어온다.
            if (fileInfo) {
                return reader.readAsDataURL(fileInfo);
            }
        }

        /*function submit_card() {

            let title = $('.title').val();
            let imgFlie = document.getElementById("thumbnailImg").src
            let star = $('#star').val()
            let desc = $('#desc').val()
            let url = $('#url').val()

            let comment = $('.comment').val();
            $.ajax({
                type: 'POST',
                url: '/submit',
                data: {title_give: title, img_give: imgFlie, comment_give: comment, star_give: star, desc_give: desc, url_give: url},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }*/

        /*function logout(){

            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href='/'

            /!*function sign_out() {
                $.removeCookie('mytoken', {path: '/'});
                alert('로그아웃!')
            }*!/
        }*/

        function findTitle() {
            let search = $('#searchTitle').val()
            if (search == '') {
                alert('내용을 입력해주세요')
                return
            }
            window.location.href=`/search?search_give=${search}`
        }

        function toggle_like(id) {
            console.log(id)
            let $heart = $('#heart'+id )
            let $i_like = $heart.find("i")

            if ( $i_like.hasClass("bi-heart-fill")) {
                $.ajax({
                    type: "POST",
                    url: "/update_like",
                    data: {
                        App_id_give: id,
                        action_give: "unlike"
                    },
                    success: function (response) {
                        console.log("unlike")
                        $i_like.addClass("bi-heart").removeClass("bi-heart-fill")
                        $('#heart'+id+ ' span').text( response['count'] )
                    }
                })
            } else {
                $.ajax({
                    type: "POST",
                    url: "/update_like",
                    data: {
                        App_id_give: id,
                        action_give: "like"
                    },
                    success: function (response) {
                        console.log("like")
                        $i_like.addClass("bi-heart-fill").removeClass("bi-heart")
                        $('#heart'+id+ ' span').text( response['count'] )
                    }
                })

            }
        }

    </script>
</head>

<body>
<!--<div class="mytitle">
    <h1 class="banner" onclick="window.location.href='/main'">GADA의 여행일지</h1>
    &lt;!&ndash; Button trigger modal &ndash;&gt;
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        여행지 기록하기
    </button>

</div>-->

        <!-- 상단부분 -->
        <div class="mytitle">
            <h1>GADA의 여행일지</h1>
            <!-- Button trigger modal -->
            <h3>[ {{ user_info.username }} ]님 환영합니다!</h3>
            <div class="btn_box">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    여행지 기록하기
                </button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='/go_like_list'">
                    Like List
                </button>
            </div>
        </div>
        <!-- 상단부분 -->

<!--위향훈님-->
        <!-- 글작성 모달 부분 -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">여행일지</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <center>
                                <img id="thumbnailImg" src="" alt="이미지 미리보기" width="150" height="150">
                            </center>
                            <input type="text" class="form-control title" id="formGroupExampleInput" placeholder="장소 이름을 입력하세요">
                            <div class="input-group mb-3">
                              <button onclick="execDaumPostcode()" class="btn btn-outline-secondary" type="button" id="button-addon1">주소 찾기</button>
                              <input id="sample2_address" type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                            </div>
                            <input class="form-control mb-3" type="file" id="upImgFile" onchange="uploadImgPreview();"
                                   accept="image/*"/>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">별점</label>
                                <select class="form-select" id="star">
                                    <option selected>&#45;&#45; 선택하기 &#45;&#45;</option>
                                    <option value="1">⭐</option>
                                    <option value="2">⭐⭐</option>
                                    <option value="3">⭐⭐⭐</option>
                                    <option value="4">⭐⭐⭐⭐</option>
                                    <option value="5">⭐⭐⭐⭐⭐</option>
                                </select>
                            </div>
                            <textarea class="form-control comment" id="comment" rows="3" placeholder="장소에 대한 설명을 입력하세요"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary" id="submit" onclick="submit_card();">등록하기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 글작성 모달 부분 -->

<section class="section">
    <div class="container">
        <h1 class="title">Section</h1>
        <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're
            currently reading
        </h2>
    </div>
</section>

<!--<div class="mycards">
    <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
        {% for App in App_list%}
        <div class="col">
            <div class="card h-100" onclick="window.location.href='/detail?num_give={{ App.num }}'">
                <img src={{ App.img }}
                     class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">이름 : {{ App.title }}</h5>
                    <p class="card-text">{{ App.content }}</p>
                    <p>주소 : {{ App.url }}</p>
                    <p>평점 : {{App.star}}</p>
                    <p class="mycomment">리뷰 : {{ App.desc }}</p>
                    <p>작성시간 : {{App.time}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>-->
<section class="section">
            <!-- 글목록 부분 -->
            <div class="mycards">
                <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
                    {% for App_like in App_like_list%}
                    <div class="col">
                        <div class="card h-100">
                            <img src={{ App_like.img }}
                                 class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">이름 : {{ App_like.title }}</h5>
                                <p class="card-username">작성자 : {{ App_like.username }}</p>
                                <p class="card-text">{{ App_like.content }}</p>
                                <p>주소 : {{ App_like.address }}</p>
                                <p>평점 : {{App_like.star}}</p>
                                <p class="mycomment">리뷰 : {{ App_like.comment }}</p>
                                <p>작성시간 : {{App_like.time}}</p>
                                <div style="justify-content : space-evenly; display: flex">
                                    <a href="#" class="btn btn-primary"
                                       onclick="window.location.href='/detail?App_id_give={{ App_like._id }}'">자세히 보기</a>
                                    <a id="heart{{App_like._id}}" onclick="toggle_like('{{ App_like._id }}')">
                                        {% if App_like.chkLike == true %}
                                        <i class="bi bi-heart-fill" aria-hidden="true"></i>
                                        {% else %}
                                        <i class="bi bi-heart" aria-hidden="true"></i>
                                        {% endif %}
                                        <span style="font-size: 17pt; font-weight: bold">{{ App_like.like_count }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- 글목록 부분 -->
        </section>
<p> </p>
<!--<nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/main">
            <img src="{{ url_for('static', filename='logo.png') }}">
            <strong class="is-sparta"
                    style="font-family: 'Stylish', sans-serif;font-size: larger;">여행 GADA</strong>
        </a>
    </div>
</nav>-->
<nav class="navbar is-fixed-top navbar-expand-lg bg-light">
  <div class="container-fluid">
      <div class="navbar-brand">
        <a class="navbar-item" href="/main">
            <img src="../static/logo.png">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" style="color: black" onclick="sign_out()">로그아웃</a>
        </li>
          <li class="nav-item disabled">
          <a class="nav-link disabled" href="#" style="color: black">{{ user_info.profile_name }} 님 안녕하세요</a>
        </li>
      </ul>

        <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchTitle">
      </form>
        <button onclick="findTitle()" class="btn btn-outline-success" type="submit">Search</button>
    </div>
  </div>
</nav>
<div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:9999;-webkit-overflow-scrolling:touch;">
            <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer"
                 style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()"
                 alt="닫기 버튼">
        </div>
</body>

    <script>
        // 우편번호 찾기 화면을 넣을 element
        let element_layer = document.getElementById('layer');

        function closeDaumPostcode() {
            // iframe을 넣은 element를 안보이게 한다.
            element_layer.style.display = 'none';
        }

        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById("sample2_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.

                    // iframe을 넣은 element를 안보이게 한다.
                    // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                    element_layer.style.display = 'none';
                },
                width: '100%',
                height: '100%',
                maxSuggestItems: 5
            }).embed(element_layer);

            // iframe을 넣은 element를 보이게 한다.
            element_layer.style.display = 'block';

            // iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
            initLayerPosition();
        }

        // 브라우저의 크기 변경에 따라 레이어를 가운데로 이동시키고자 하실때에는
        // resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행 시켜 주시거나,
        // 직접 element_layer의 top,left값을 수정해 주시면 됩니다.
        function initLayerPosition() {
            var width = 300; //우편번호서비스가 들어갈 element의 width
            var height = 400; //우편번호서비스가 들어갈 element의 height
            var borderWidth = 5; //샘플에서 사용하는 border의 두께

            // 위에서 선언한 값들을 실제 element에 넣는다.
            element_layer.style.width = width + 'px';
            element_layer.style.height = height + 'px';
            element_layer.style.border = borderWidth + 'px solid';
            // 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
            element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width) / 2 - borderWidth) + 'px';
            element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height) / 2 - borderWidth) + 'px';
        }
    </script>

</html>