/* 공통 */
    * { font-family: 'Jua', sans-serif; }
/* 공통 */

/* 메인페이지 상단 */
.mytitle {
    width: 100%;
    height: 400px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://wishbeen-seoul.s3.ap-northeast-2.amazonaws.com/plan/1463029230608__%EC%8A%AC%EB%A1%9C%EB%B2%A0%EB%8B%88%EC%95%8403.jpg');
    background-position: center;
    background-size: cover;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn_box{
    width: 100%;
    max-width: 380px;
    display: flex;
    justify-content: space-evenly;
}

.mytitle > .btn_box > button {
    width: 48%;
    height: 50px;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    margin-top: 10px;
}

.mytitle > .btn_box > button:hover {
    border: 2px solid white;
}
/* 메인페이지 글작성*/

/* 메인페이지 카드*/
.mycards {
    width: 95%;
    max-width: 1100px;
    margin: 20px auto 0px auto;
}

.card {
    box-shadow: 3px 3px 8px 0px grey;
}

.card-img-top {
    height: 170px;
    object-fit: cover;
}

.veiw_btn {
    background-color: #42A8CF;
    border: #42A8CF;
    color:#fff;
}

.icon_box {
    display: flex;
    justify-content: space-between;
}

.icon_box  > a > i,span {
    vertical-align: middle;
}

/*index like 부분*/

        /** {
            font-family: 'Gowun Dodum', sans-serif;
        }
*/
        * {
            font-family: 'Jua', sans-serif;
        }

        .card {
            box-shadow: 3px 3px 8px 0px grey;
            transition: 0.5s;
        }

        .card:hover {
            box-shadow: 3px 3px 8px 0px black;
        }

        .card-img-top {
            height: 170px;
            object-fit: cover;
        }

        .mytitle {
            width: 100%;
            height: 400px;

            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://wishbeen-seoul.s3.ap-northeast-2.amazonaws.com/plan/1463029230608__%EC%8A%AC%EB%A1%9C%EB%B2%A0%EB%8B%88%EC%95%8403.jpg');
            background-position: center;
            background-size: cover;

            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .mytitle > button {
            width: 200px;
            height: 50px;

            background-color: transparent;
            color: white;

            border-radius: 50px;
            border: 1px solid white;

            margin-top: 10px;
        }

        .mytitle > button:hover {
            border: 2px solid white;
        }

        .mycomment {
            color: gray;
        }

        .mycards {
            /*margin: 20px auto 0px auto;

            max-width: 1200px;*/
            width: 95%;
            max-width: 1100px;
            margin: 20px auto 0px auto;
        }

        /*.card {
            box-shadow: 5px 5px 3px 3px grey;
        }*/

       /* .section {
            width: 600px;
            max-width: 100%;
            margin: auto;
        }*/

        .banner {
            cursor: pointer;
        }

        .mypost {
            width: 95%;
            max-width: 500px;
            margin: 20px auto 0px auto;
            padding: 20px;
            box-shadow: 0px 0px 3px 0px gray;

            display: none;
        }

        .mybtns {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            margin-top: 20px;
        }

        .mybtns > button {
            margin-right: 10px;
        }

        /* style.css */

        /* 이미지 관련 스타일 조정 */
        .button {
            display: flex;
            justify-content: center;
        }

        label {
            cursor: pointer;
            font-size: 1em;
        }

        /* 못생긴 기존 input 숨기기 */
        #chooseFile {
            visibility: hidden;
        }

        .bi-heart {
            font-size: 25px;
            line-height: 25px;
            color: crimson;
        }

        .bi-heart-fill {
            font-size: 25px;
            line-height: 25px;
            color: crimson;
        }

/*searchResult 부분*/


        /** {
            font-family: 'Gowun Dodum', sans-serif;
        }
*/
        * {
            font-family: 'Jua', sans-serif;
        }

        .card {
            box-shadow: 3px 3px 8px 0px grey;
            transition: 0.5s;
        }

        .card:hover {
            box-shadow: 3px 3px 8px 0px black;
        }

        .card-img-top {
            height: 170px;
            object-fit: cover;
        }

        .mytitle {
            width: 100%;
            height: 400px;

            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://wishbeen-seoul.s3.ap-northeast-2.amazonaws.com/plan/1463029230608__%EC%8A%AC%EB%A1%9C%EB%B2%A0%EB%8B%88%EC%95%8403.jpg');
            background-position: center;
            background-size: cover;

            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .mytitle > button {
            width: 200px;
            height: 50px;

            background-color: transparent;
            color: white;

            border-radius: 50px;
            border: 1px solid white;

            margin-top: 10px;
        }

        .mytitle > button:hover {
            border: 2px solid white;
        }

        .mycomment {
            color: gray;
        }

        .mycards {
            /*margin: 20px auto 0px auto;

            max-width: 1200px;*/
            width: 95%;
            max-width: 1100px;
            margin: 20px auto 0px auto;
        }


        .section {
            width: 600px;
            max-width: 100%;
            margin: auto;
        }

        .banner {
            cursor: pointer;
        }

        .mypost {
            width: 95%;
            max-width: 500px;
            margin: 20px auto 0px auto;
            padding: 20px;
            box-shadow: 0px 0px 3px 0px gray;

            display: none;
        }

        .mybtns {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            margin-top: 20px;
        }

        .mybtns > button {
            margin-right: 10px;
        }

        /* style.css */

        /* 이미지 관련 스타일 조정 */
        .button {
            display: flex;
            justify-content: center;
        }

        label {
            cursor: pointer;
            font-size: 1em;
        }

        /* 못생긴 기존 input 숨기기 */
        #chooseFile {
            visibility: hidden;
        }

        /*.bi-heart {
            font-size: 25px;
            line-height: 25px;
            color: crimson;
        }

        .bi-heart-fill {
            font-size: 25px;
            line-height: 25px;
            color: crimson;
        }*/

